################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www


############# PHP Alpine Repositories ############
ALPINE_REPOSITORIES=mirrors.aliyun.com

#################### Nginx #####################
NGINX_VERSION=1.15.7-alpine
NGINX_HTTP_HOST_PORT=8090
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log/nginx


#################### PHP7.2 ####################
PHP72_VERSION=7.2.19
PHP72_PHP_CONF_FILE=./conf/php.ini
PHP72_FPM_CONF_FILE=./conf/php-fpm.conf
PHP72_LOG_DIR=./log/php
PHP72_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,redis,amqp,swoole


#################### MySQL #####################
MYSQL_VERSION=5.7
MYSQL_HOST_PORT=33069
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql
MYSQL_CONF_FILE=./conf/mysql.cnf


#################### Redis #####################
REDIS_VERSION=5.0-alpine
REDIS_HOST_PORT=63799
REDIS_CONF_FILE=./conf/redis.conf


################## phpMyAdmin ##################
PHPMYADMIN_HOST_PORT=8091


################# redisMyAdmin #################
REDISMYADMIN_HOST_PORT=8092